/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
/.phpunit.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Ignorar TODO public
/public/*

# PERMITIR SOLO LO NECESARIO
!/public/barcode-images
!/public/import_demo_files
!/public/js/
!/public/js/*
!/public/mix-manifest.json
